<div class="container">
  <form id="submit-signup" action="/auth/update/<%- currentUser.email %>" method="POST">
    <!-- first name -->
    <div class="form-group col-xs-6">
      <label for="InputFirstName">First Name</label>
      <input type="text" class="form-control" name="firstName" value= "<%- currentUser.firstName %>" >
    </div>
    <!-- last name -->
    <div class="form-group col-xs-6">
      <label for="InputLastName">Last Name</label>
      <input type="text" class="form-control" name="lastName" value= "<%- currentUser.lastName %>" >
    </div>
    <!-- Age -->
    <div class="form-group col-xs-6">
      <label for="InputAge">Age</label>
      <input type="number" class="form-control" name="age" value= "<%- currentUser.age %>" >
    </div>
    <!-- Sex -->
    <div class="form-group col-xs-6">
      <p for="InputSex">Sex</p>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"> Male
      </label>
      <label class="form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"> Female
      </label>
    </div>
    <!-- Profile pic -->
    <div class="form-group col-xs-12">
      <label for="InputAddress">Facebook profile pic url</label>
      <input type="text" class="form-control" name="address" value= "<%- currentUser.address %>" placeholder="https://scontent-sin6-1.xx.fbcdn.net/...">
    </div>
    <!-- Education -->
    <!-- <div class="form-group col-xs-12">
      <label for="InputEducation">Education</label>
      <input type="text" class="form-control" name="education" placeholder="Education Level">
    </div> -->
    <!-- Interests -->
    <!-- <div class="form-group col-xs-12">
      <label for="InputInterests">Interests</label>
      <input type="text" class="form-control" name="interests" placeholder="What are your interests?">
    </div> -->
    <!--  -->
    <!-- <div class="form-group">
      <label for="Input"></label>
      <input type="text" class="form-control" name="" placeholder="">
    </div> -->

    <div class="col-xs-12">
      <button type="submit" class=" btn btn-primary ">Update</button>
    </div>

  </form>
</div>
